<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>home</title>
	<style type="text/css">
			h1{
				font-family: helvetica;
				font-size: 350%;
				/*margin-top: 10%;*/
				text-align: center;
				letter-spacing: 5px;
			}
			h5{
				margin-left: 15%;
				margin-top: 5%;
			}
			body{
				background-color: #f4f4f4;
/*				overflow: hidden;*/
			}
			#framez{
				margin-top: 1%;
				margin-left: 35%;
			}
			.boda{
				border: 3px solid black;
				margin-top: 10px;
				padding: 20px;
			}
			.cur{
				margin: 0 auto;
				width: 50%;
			}

		@media only screen and (max-width: 1300px) {

			h1{
				font-family: helvetica;
				font-size: 600%;
				margin-top: 10%;
				text-align: center;
				letter-spacing: 5px;
			}
			h5{
				font-size: 400%;
				margin-left: -0.5%;
			}
			img{
				width: 100%;
				margin-left: -25%;
			}

			.frame{
				padding: 5px 0px;
			}
			
			#framez{
				padding: 5px;
    			width: 100%;
    			margin-left: 25%;

			}
			.boda{
				border: 5px solid black;
				margin-top: 10px;
				padding: 20px;
			}			
		}

	</style>
</head>
<body>
	<div class="container">
		<div class="boda">
			<h1>NTW</h1>
			<div class="frame">
				<div id="framez">
					<img src="https://i.pinimg.com/564x/46/5c/f5/465cf5f696b92b3658f506f51d7de830.jpg">
					<a href="../Addin/NTW.xlam" download="NTW"><h5>Download</h5></a>
					<h6>Follow this link for the <a href="https://medium.com/@olamilekan001/number-to-words-with-ntw-bc3075af5a96">Installation guide</a></h6>
				</div>	
			</div>
		</div>

		<div class="boda">
			<h1>Curency</h1>
			<div class="frame">
				<div id="framez">
					<img src="../Addin/curency.jpg" class="cur">
					<a href="../Addin/Curency.xlam" download="Curency"><h5>Download</h5></a>
					<h6>Follow this link for the <a href="https://medium.com/@olamilekan001/number-to-words-with-ntw-bc3075af5a96">Installation guide</a></h6>
				</div>	
			</div>
		</div>
	
	</div>
</body>
</html>